<?xml version="1.0" encoding="utf-8"?>
<configuration>	
	<startup >
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<!-- SQLite数据库的连接串 -->
	<appSettings>  
		<!--接下来的一行指定了数据库的位置，为了保证开发时和发行时均有效，请注意其相对位置-->
		<add key="SQLiteConnectionString" value="Data Source=..\..\Data\warehousedata.db"/>  
	</appSettings>
</configuration>